<?xml version="1.0" ?>
<settings version="1">
	<section id="plugin.video.sosac.ph">
		<category id="default" label="30103" help="">
			<group id="1">
				<setting id="streamujtv_user" type="string" label="30106" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30106</heading>
					</control>
				</setting>
				<setting id="streamujtv_pass" type="string" label="30107" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30107</heading>
						<hidden>true</hidden>
					</control>
				</setting>
				<setting id="streamujtv_location" type="integer" label="30108" help="">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="30061">0</option>
							<option label="30109">1</option>
							<option label="30110">2</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="keep-searches" type="string" label="30000" help="">
					<level>0</level>
					<default>20</default>
					<control type="edit" format="string">
						<heading>30000</heading>
					</control>
				</setting>
				<setting id="subs" type="boolean" label="30065" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="order-episodes" type="integer" label="30057" help="">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="30058">0</option>
							<option label="30059">1</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="quality" type="integer" label="30050" help="">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="30051">0</option>
							<option label="30052">1</option>
							<option label="30053">2</option>
							<option label="30054">3</option>
							<option label="30055">4</option>
							<option label="30056">5</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="language" type="integer" label="30060" help="">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="30061">0</option>
							<option label="30062">1</option>
							<option label="30063">2</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="force-czech" type="boolean" label="30070" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="order-recently-by" type="integer" label="30080" help="">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="30081">0</option>
							<option label="30082">1</option>
							<option label="30083">2</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="downloads" type="path" label="30030" help="">
					<level>0</level>
					<default/>
					<constraints>
						<writable>false</writable>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="path">
						<heading>30030</heading>
					</control>
				</setting>
				<setting id="download-notify" type="boolean" label="30032" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="download-notify-every" type="integer" label="30033" help="">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="30034">0</option>
							<option label="30035">1</option>
							<option label="30036">2</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="download-notify">true</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
			</group>
		</category>
		<category id="default" label="30104" help="">
			<group id="1">
				<setting id="library-movies" type="path" label="30100" help="">
					<level>0</level>
					<default>special://profile/addon_data/plugin.video.sosac.ph/Movies/</default>
					<constraints>
						<writable>false</writable>
					</constraints>
					<control type="button" format="path">
						<heading>30100</heading>
					</control>
				</setting>
				<setting id="library-tvshows" type="path" label="30101" help="">
					<level>0</level>
					<default>special://profile/addon_data/plugin.video.sosac.ph/TVShows/</default>
					<constraints>
						<writable>false</writable>
					</constraints>
					<control type="button" format="path">
						<heading>30101</heading>
					</control>
				</setting>
				<setting id="start_sleep_time" type="integer" label="30102" help="">
					<level>0</level>
					<default>10</default>
					<constraints>
						<minimum>0</minimum>
						<maximum>60</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="refresh_time" type="integer" label="30105" help="">
					<level>0</level>
					<default>1</default>
					<constraints>
						<minimum>0</minimum>
						<maximum>60</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
			</group>
		</category>
	</section>
</settings>
